body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container ul {
  list-style: decimal;
  font-size: 30px;
}

.container li {
  padding: 10px;
}
